body {
  font-family: "Roboto", "Raleway", Arial, sans-serif;
  font-size: 14px;
  color: rgb(33, 33, 33);
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(33, 150, 243);
  --second-color: #212121;
  --third-color: #757575;
}

.container {
  /* position: absolute; */
  /* width: 1200px; */
  width: 1600px;
  /* display: block; */

  margin: 0 auto;
}

.logo-txt-blue {
  text-decoration: none;
  color: var(--main-color);
}

.link-header {
  text-decoration: none;
  color: rgb(33, 33, 33);
}
.contact-link {
  color: #757575;
}

.link-header:hover,
.link-header:focus,
.link-footer:hover,
.link-footer:focus {
  color: var(--main-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  width: 1170px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  width: 499px;
}

.header,
.nav {
  /* page-header */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-ul {
  width: 261px;
  justify-content: space-around;
}

.contact,
.nav-ul {
  /* menu */

  display: flex;
  margin: 0;
  list-style: none;
}

.contact > .contact-item:not(:last-child) {
  margin-right: 0;
}

.nav-ul > .nav-item:not(:last-child) {
  margin-right: 0px;
}

.contact .contact-link,
.nav-ul .nav-link {
  display: block;
  padding: 10px 10px 10px 50px;
  text-decoration: none;
}

.contact-link {
  padding-left: 50px;
}
/* END HEADER -------------------------------------------------- */

.buttons-list {
  display: flex;
  justify-content: center;
}

.button-item {
  margin: 94px 8px 0;
}

.button {
  /* position: absolute; */
  padding: 6px 22px;
  height: 38px;
  left: 740px;
  top: 174px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-button {
  background-color: var(--main-color);
  width: 200px;
  height: 50px;
  /* left: 700px; */
  /* top: 460px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* position: absolute; */
  /* text-align: center; */
  letter-spacing: 0.06em;
  margin-left: 248px;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.banner {
  /* width: 1600px; */
  height: 600px;
  left: 0px;
  top: 80px;
  /* margin: auto; */
  /* position: absolute; */
  background: #2f303a;
}

.banner-items {
  padding-top: 200px;
  padding-left: 452px;
}

.logo-txt {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
  font-family: Raleway;
}

.link-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.portfolio-projects {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.portfolio-projects-ul {
  /* container */
  padding: 0;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  /* align-content: space-between; */
  flex-wrap: wrap;

  margin-top: 34px;
  /* background-color: rgb(181, 224, 224); */
}

.project {
  margin-bottom: 30px;
  /* parent */
  display: block;
  /* background-color: #2f303a; */
  width: 370px;
  /* height: 404px; */
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
}

.project-img {
  /* height: 294px; */
  width: 370px;
  display: block;
}
.project-txt {
  display: block;
  padding: 20px;
  /* width: 100%-2px;
  height: 76px; */
  /* 
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1); */
}

.project-txt p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.h-fifth {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.member > .h-fifth {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 30px 0 10px;
}

.member > p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin: 0 0 30px;
}

.h-first {
  width: 696px;
  height: 120px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.h-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-color);
}

.h-fourth {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-color);
}

.descriptions > ul > li > p {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.descriptions ul {
  display: flex;
  justify-content: center;
}

.description-item {
  width: 270px;
  padding: 0 15px;
}

.specialities-list {
  display: flex;
  justify-content: center;
}

.specialities-item {
  padding: 0 15px;
}


.description-item:last-child,
.specialities-item:last-child,
.member:last-child {
  padding-right: 0;
  margin-right: 0;
}
.description-item:first-child,
.specialities-item:first-child,
.member:first-child {
  padding-left: 0;
  margin-left: 0;
}

.team{
  background-color: #F5F4FA;
}


.team-members-list{
  display: flex;
  padding-left: 0;
  justify-content: center;
}

.member{
  width: 270px;
  background-color: white;
  margin: 0 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
text-align: center;
}


.section {
  padding: 94px 0;
}

.address {
  font-style: normal;
}

/* FOOTER  */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  color: white;
}
.footer-container {
  margin: 0 auto;
  width: 1170px;
}

.logo-txt-footer {
  margin-bottom: 20px;
  color: white;
  padding: 0;
}

.address p {
  padding: 20px 0 9px;
  margin: 0;
}

.link-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
  letter-spacing: 0.03em;
}

/* END FOOTER  */

.project-img,
.project-txt h5,
.project-txt p {
  margin: 0;
}
